* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: grey;
}

body{
    color:  black !important;

}

.logo-ul {
    display: flex;
    list-style: none;
}

.user-container img{
    width: 200px;
    height: 200px;
}

.fixed-width-btn {
    width: 120px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}




