{% extends "base.html" %}

{% block title %}Add Brand{% endblock %}

{% block content %}
<main>
    <div class="py-5 m-5">
        <h2 class="mb-4">Add Brand</h2>

        {# Show validation errors if any #}
        {% for errors in form.errors.values() %}
        {% for error in errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endfor %}

        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.image.label(class="form-label") }}
                {{ form.image(class="form-control") }}
                {% for error in form.image.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", placeholder=form.name.label.text) }}
            </div>

            <div class="mb-3">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control", placeholder=form.description.label.text) }}
            </div>

            <div class="mb-3">
                {{ form.submit_brand(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</main>
{% endblock %}
