{% extends "base.html" %}

{% block title %} Add Auctions {% endblock %}

{% block content %}
<main class="container">
    <div class="row py-5 m-5">
        <h1 class="col-12 text-center">Auction</h1>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% for errors in form.errors.values() %}
        {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endfor %}

        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.product_name(class="form-control", placeholder=form.product_name.label.text) }}
        </div>
        <div class="mb-3">
            {{ form.description(class="form-control", placeholder=form.description.label.text) }}
        </div>
        <div class="mb-3">
            {{ form.type(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.image(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.submit_auction(class="btn btn-primary" ) }}
        </div>
    </form>


</main>
{% endblock %}
