{% extends "base.html" %}

{% block title %}აუქციონები{% endblock %}

{% block content %}
<main>
    <div class="mt-4">
        <h1 class="text-center mb-4">აუქციონები</h1>
        <div class="row">
            {% for auction in auctions %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='Images/Auctions/' ~ auction.image) }}"
                         class="card-img-top p-1"
                         alt="{{ auction.product_name }}"
                         width="100%" height="230" style="object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ auction.product_name }}</h5>
                        <p class="card-text">{{ auction.description }}</p>
                        <p class="text-muted mb-1">ტიპი: {{ auction.type }}</p>
                        <p class="fw-bold mb-1">${{ auction.price }}</p>
                        <p class="text-muted small mb-2">საკონტაქტო ნომერი: {{ auction.user.mobile_number if auction.user else 'უცნობი' }}</p>
<!--                         <a href="/auction/{{auction.id}}" class="btn btn-outline-primary btn-sm">დეტალები</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
