{% extends "base.html" %}

{% block title %} Edit Product {% endblock %}

{% block content %}
<main>
    <div class="py-5 m-5">
        <h2 class="mb-4">Edit {{ product.product_name }}</h2>
        <form method="POST" enctype="multipart/form-data">
            {% for errors in form.errors.values() %}
            {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endfor %}

            {{ form.hidden_tag() }}
            <div class="mb-3 row">
                {{ form.image.label }}
                {{ form.image(class="form-control") }}
            </div>
            <div class="mb-3 row">
                {{ form.name.label }}
                {{ form.name(class="form-control", placeholder=form.name.label.text) }}
            </div>
            <div class="mb-3 row">
                {{ form.description.label }}
                {{ form.description(class="form-control", placeholder=form.description.label.text) }}
            </div>
            <div class="mb-3 row">
                {{ form.price.label }}
                {{ form.price(class="form-control", placeholder=form.price.label.text) }}
            </div>
            <div class="mb-3 row">
                {{ form.type.label }}
                {{ form.type(class="form-control") }}
            </div>
            <div class="mb-3 row">
                {{ form.brand.label }}
                {{ form.brand(class="form-control") }}
            </div>
            <div class="mb-3 row">
                {{ form.stock.label }}
                {{ form.stock(class="form-control", placeholder=form.stock.label.text) }}
            </div>
            <div class="mb-3 row">
                {{ form.discount_price.label }}
                {{ form.discount_price(class="form-control", placeholder=form.discount_price.label.text) }}
            </div>
            <div class="mb-3 row">
                {{ form.submit_product(class="form-control btn btn-primary") }}
            </div>
        </form>
    </div>
</main>
{% endblock %}