{% extends "base.html" %}

{% block title %} ordskin {% endblock %}


{% block content %}
{% set messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-success mt-4">
    {{ message }}
</div>
{% endfor %}

<main>
    <div class="mt-4">
        <h1 class="text-center mb-4">Popular Brands</h1>
        <div class="row">
            {% for brand in brands[:8] %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{{ brand.image }}" class="card-img-top p-1" alt="{{ brand.name }}" width="2000" height="230">
                    <div class="card-body">
                        <h5 class="card-title">{{ brand.name }}</h5>
                        <a href="/brands/{{brand.id}}" class="btn btn-primary">Brand Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end mb-4">
            <a href="/brands" class="btn btn-outline-secondary" style="background-color: #f8f9fa; border: 1px solid #ced4da;">
                View All Brands
            </a>
        </div>
    </div>
</main>


{% endblock %}



