{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
<main>
    <div class="user-container">
        <div class="mb-3 row">
            <h5><strong>User ID:</strong> {{ user.id }}</h5>
        </div>
        <div class="mb-3 row">
            <h5><strong>სახელი:</strong> {{ user['username'] }}</h5>
        </div>
        <div class="mb-3 row">
            {# <h5><strong>პაროლი:</strong> {{ user['password'] }}</h5> #}
        </div>
        <div class="mb-3 row">
            <h5><strong>ნომერი:</strong> {{ user['mobile_number'] }}</h5>
        </div>
        <div class="mb-3 row">
            <h5 class="d-inline"><strong>ფოტო:</strong></h5>
            <img src="/static/Images/Profile_photos/{{ user['image'] }}" alt="profile_photo">
        </div>
    </div>
</main>
{% endblock %}
