{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
{% set messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-success mt-4">
    {{ message }}
</div>
{% endfor %}
<div class="py-5">
    <h2 class="mb-4">Sign In</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="mb-3 row">
            {{ form.username(class="form-control", placeholder=form.username.label.text) }}
        </div>

        <div class="mb-3 row">
            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
        </div>

        <div class="mb-3 row">
            {{ form.login_button(class="btn btn-primary btn-lg fixed-width-btn") }}
            <a href="{{ url_for('home') }}" class="btn btn-secondary btn-lg fixed-width-btn ms-3">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
